[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
